@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

body {
    font-size: 20px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    background-color: #fffbde;
}

h1{
    font-weight: 50;
    color: #8C5B65;
    font-family: 'Abril Fatface', cursive;
}

p, #seltab option{
    font-weight: 300;
    color: #7E8188;
}

::-webkit-scrollbar-track {
    background-color: transparent !important;
}

::-webkit-scrollbar {
    width: 7px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #8C5B65;
    border-radius: 15px;
}

.finaliza{
    border-radius: 20px;
    padding: 1% 2%;
    border: 0 none;
    outline: 0;
    background-color: #D4A7B0;
    margin-bottom: 3%;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    cursor: pointer;
    font-weight: 300;
    color: white;
    text-decoration: none;
    margin: 1% 0%;
}

.finaliza:hover {
    background-color: #FFCFD9;
    transition: 1s;
    color: #7E8188;
}

.lista{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 20px;
    padding: 1% 2%;
    width: 10%;
    border: 0 none;
    outline: 0;
    font-weight: 300;
    color: #7E8188;
    font-size: 20px;
    margin: 1% 0%;
}

#seltab {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-size: 20px;
    width: 30%;
    display: block;
    padding: 2%;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    border: 0 none;
    outline: 0;
    font-weight: 300;
    color: #7E8188;
    border-radius: 30px;
}

.select-tabuada {
    display: flex;
    justify-content: center;
    margin: 3% 0%;
}


